<div class="page-header">
  <h1>
    Photos
    <a href="/photos/new" class="btn btn-lg btn-success">New Photo</a>
  </h1>
</div>

<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">

<div class="panel panel-default">
  <div class="panel-heading">
  
  <% @photos.each do |photo| %>
    
    <h3 class="panel-title">
      <a href="/users/<%= photo.user_id %>"><%= photo.user_id %></a>
      <small></small>
    </h3>
  </div>

  <div class="panel-body">
    <a href="/photos/<%= photo.id %>">
      <img src="<%= photo.image %>" class="img-responsive">
    </a>

    <p>
      <i class="fa fa-heart"></i>
        <% photo.likes.each do |like| %>
          <% if like.user == current_user %>
            <form action="/delete_like/<%= photo.id %>" method="post" class="btn btn-link">
          <% else %>
            <form action="/create_like" method="post" class="btn btn-link">
          <% end %>
          <%= like.user.username %>
        <% end %>
      </a>
    </p>

    <% photo.comments.each do |comment| %>
      <ul class="media-list">
        <li class="media">
          <div class="media-body">
            <h6 class="media-heading">
              <a href="/user/<%= comment.user.id %>"><%= comment.user.username %></a>
              <small></small>  
            </h6>
            <%= comment.body %>
          </div>
        </li>
      </ul>
    <% end %>
  
  <div class="btn-group btn-group-justified">
    <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show
      <i class="fa fa-chevron-left"></i>
    </a>
    <% if current_user == photo.user %>
      <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">
      Edit
        <i class="fa fa-edit"></i>
      </a>
    
      <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">
      Delete
        <i class="fa fa-trash-o"></i>
      </a>
    <% end %>
  </div>
  <% end %>

</div>

</div>
</div>
</div>
</div>